<!DOCTYPE HTML>
<html>
<head>
<title>WebSocket</title>
</head>

<body>
	<button id="connect" onclick="connect()">連線</button>
	<button id="close" disabled>Close</button>
	<br>

	<div id="message"></div>
</body>

<script type="text/javascript">
var websocket = null;

const connect = () => {
	const close = document.getElementById("close");
	const connect = document.getElementById("connect");
	const message = document.getElementById("message");
	
	//判斷當前瀏覽器是否支援 WebSocket
	if('WebSocket' in window){
		
		websocket = new WebSocket("ws://localhost:8081/socket2");
	  	
		//連線發生錯誤時觸發的方法
		websocket.addEventListener('error', (event) => {
			setMessageInnerHTML("error");
		});
		
		//連線成功建立的時觸發
		websocket.addEventListener('open', (event) => {
			close.disabled = false;
			connect.disabled = true;
		
		  	alert("websocket 連線成功!!!");
		});
		
		//接收到訊息時觸發
		websocket.addEventListener('message', (event) => {
		  	setMessageInnerHTML(event.data);
		});
		
		//連線關閉時觸發
		websocket.addEventListener('close', function(){
			alert('連線關閉，咱們下次見~');
		});
		
		//監聽視窗關閉事件，當視窗關閉時，主動關閉websocket連線，防止連線還沒關閉就關閉視窗，server端會拋異常。
		window.onbeforeunload = function(){
			websocket.close();
		}
		
		//將訊息顯示到網頁上
		function setMessageInnerHTML(msg){
			message.innerHTML += msg + '<br/>';
		}
		
		//關閉websocket連線
		close.addEventListener('click', () => {
			websocket.close();
			
			close.disabled = true;
			connect.disabled = false;
		});
		
	}else{
		alert('Not support websocket')
	}
}  

</script>
</html>
